/*=============== PRODUCTS ===============*/
.products__img {
  margin-bottom: 1rem;
}

.products__title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.75rem;
}

.products__price {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

@media (min-width: 1023px) {
  .products .container {
    max-width: 954px;
  }
}