@media (min-width: 576px) {
  .nav {
    width: 342px;
  }
}

@media (min-width: 1023px) {
  .nav {
    width: initial;
    margin-left: auto;
  }

  body.dark-mode .nav {
    background-color: transparent;
    box-shadow: none;
  }

  .nav__items {
    display: flex;
    column-gap: 3rem;
  }

  .nav__link {
    color: var(--text-color);
    font-weight: var(--font-medium);
    transition: 0.3s ease;
  }

  .nav__link:hover {
    color: var(--title-color);
  }

  .nav__link.nav__link_active {
    color: var(--title-color);
    text-decoration: line-through;
  }

  .nav__link svg {
    display: none;
  }
}

@media (max-width: 1023px) {
  .nav {
    position: fixed;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    background-color: var(--body-color);
    box-shadow: 0 4px 12px hsla(229, 18%, 40%, .15);
    width: 90%;
    margin: 0 auto;
    padding: 1.25rem 2.8rem;
    border-radius: 0.5rem;
    transition: 0.4s ease; /* For animation dark mode */
  }

  .nav__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__link {
    color: var(--text-color-light);
    font-weight: var(--font-medium);
    display: grid;
    justify-items: center;
    row-gap: 0.25rem;
  }

  .nav__link svg {
    width: 20px;
  }

  .nav__link-txt {
    font-size: 0.688rem;
  }
}

@media (max-width: 340px) {
  .nav {
    padding: 1rem 1.5rem;
  }
}

