/*=============== HOME ===============*/
.home {
  background-color: var(--bg-color);
  overflow: hidden;
  transition: 0.4s ease; /* For animation dark mode */
}

.home__content {
  padding: 4rem 0 1rem;
}

.home__grid {
  row-gap: 8.5rem;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: 400;
}

.home__description {
  color: var(--title-color);
  margin: 1rem 0 2rem;
}

.home__title,
.home__description {
  line-height: 140%;
}

.home__images {
  position: relative;
  width: 310px;
  justify-self: center;
}

.home__images img:nth-child(1) {
  width: 224px;
  position: absolute;
  top: -9.5rem;
  right: -1.5rem;
}

.home__images img:nth-child(2) {
  width: 180px;
  margin-left: 0.5rem;
  position: relative;
}

@media (min-width: 767px) {
  .home__grid {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
  }
  .home__images {
    margin-top: 6rem;
  }
}

@media (max-width: 340px) {
  .home__content {
    padding: 2rem 0 1rem;
  }
  .home__grid {
    row-gap: 6rem;
  }
  .home__description {
    font-size: var(--small-font-size);
  }
  .home__images {
    width: 248px;
  }
  .home__images img:nth-child(1) {
    width: 180px;
    top: -7rem;
  }
  .home__images img:nth-child(2) {
    width: 150px;
  }
}