/*=============== COLLECTION ===============*/
.collection {
  background-color: var(--bg-color-light);
  overflow: hidden;
  transition: 0.4s ease; /* For animation dark mode */
}

.collection__content {
  display: grid;
  position: relative;
  height: 571px;
}

.collection__title {
  max-width: 170px;
  font-size: var(--h1-font-size);
  margin-bottom: 0.75rem;
}

.collection__explore {
  display: flex;
  gap: 2rem;
  position: absolute;
}

.collection__explore:nth-child(2) {
  bottom: 1rem;
  margin-right: 4.5rem;
  align-items: flex-end;
}

.collection__explore:nth-child(2) .collection__img {
  order: -1;
  width: 230px;
}

.collection__explore:nth-child(2) .collection__data {
  width: max-content;
  margin-bottom: 2.5rem;
}

.collection__explore:nth-child(1) {
  top: 0;
  margin-left: 4.5rem;
}

.collection__explore:nth-child(1) .collection__data {
  width: max-content;
  margin-top: 2.5rem;
}

.collection__explore:nth-child(1) .collection__img {
  width: 230px;
}

@media (min-width: 767px) {
  .collection__content {
    justify-items: center;
  }
}

@media (max-width: 400px) {
  .collection__explore:nth-child(1),
  .collection__explore:nth-child(2) {
    position: initial;
    flex-direction: column;
    row-gap: 2rem;
    margin: 0;
  }
  .collection__explore:nth-child(2) {
    align-items: flex-start;
  }
  .collection__explore:nth-child(1) .collection__img,
  .collection__explore:nth-child(2) .collection__img {
    width: 100%;
  }
  .collection__content {
    height: initial;
    row-gap: 3rem;
  }
  .collection__explore:nth-child(1) .collection__data {
    margin-top: 0;
  }
  .collection__explore:nth-child(2) .collection__data {
    margin-bottom: 0;
  }
}



